* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input, select {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
